.samplesSection{
    position: relative;
    background-image: linear-gradient(#81058D , #6B237A);
}
.samples-heading{
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    padding: 5px 40px;
    box-shadow: 1px 16px 20px rgba(0, 0, 0, 0.17);
}
h3{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:28px;
    margin-top: 120px;
}
h4{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:22px;
    margin-top: 50px;
    font-size:24px;
}
.bs-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 15px;
}
.card{
    width: 300px;
    margin-bottom: 50px;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:black;
    font-weight: bold;
}
